body{
    text-align: center;
 margin: 0;   
}
h1{
    margin: 0;
}
p{
    line-height: 2;
    margin: 0;
}
.top-container{
    background-color: aqua;
    text-align: center;
    margin: 0;
}
.leftcloud{
    float: left;
}
.rightcloud{
    float: right;
}
.soa{
    padding-top: 30px;
}
.mid{
    background-image: url('https://www.bing.com/th?id=OIP.E9WB8SV088K0hLX78zfD9gHaEo&w=155&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
    /* opacity: 0.5; */
}
.middle-container{
    width: 80%;
    margin: auto;
    padding-top:50px; 
}
.soa-imag:hover{
    width: 300px;
}
li:hover{
 font-size: 30px;
 cursor: pointer;
 color: #ffffff;
}
table{
    border: solid 2px;
    font: bold;
}
.course{
    width: 50%;
    margin: auto;
}
td{
    border: solid 3px ;
    
}
th{
    width: 30%;
}
.link{
    text-decoration: none;
    font-size: 50px;
}
.bottom-container{
    background-color: bisque;
    margin: 0;
}
.footer-link>abbr>img{
    width: 30px;
    margin: 30px 15px;
}
.footer-link>abbr>img:hover{
    width: 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 4;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    margin: 0;
    padding-bottom: 60px;
  }
  .copyright:hover{
    font-size: 30px;
  }